%nav.navbar.navbar-fixed-top.navbar-inverse{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.logo{href: "#{root_url}"} 
        %i.glyphicon.glyphicon-fire
        OpenHut 
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: "#about"} About
        %li
          %a{href: "#contact"} Contact
    / /.navbar-collapse
  / /.container